#body {
    background: darkcyan;
  }
#masterContainer {
   background: pink;
    margin: 15px;
    max-width: 95%;
    
}
#h1 {
    background: greenyellow;
    margin-top: 15px;
    padding: 26px;
    border: 1px solid gray;
}